<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.capsulecrm.listeners.Listeners"></listener>
		<listener class-name="com.capsulecrm.listeners.RetryListener"></listener>
	</listeners>

	<test thread-count="5" name="ChromeTest" preserve-order="true">

		<parameter name="browserName" value="chrome"></parameter>
		<classes>
			<class name="com.capsulecrm.tests.LoginPageTest" />
			<!--<class name="com.capsulecrm.tests.HomePageTest" /> 
			<class name="com.capsulecrm.tests.AddPersonPageTest" />
			<class name="com.capsulecrm.tests.PeopleAndOrganizationPageTest" />-->
		</classes>

	</test> 
	
	<test thread-count="5" name="FirefoxTest">

		<parameter name="browserName" value="firefox"></parameter>
		<classes>
		<!--	<class name="com.capsulecrm.tests.LoginPageTest" />
			<class name="com.capsulecrm.tests.HomePageTest" />
			<class name="com.capsulecrm.tests.AddPersonPageTest" />
			<class name="com.capsulecrm.tests.PeopleAndOrganizationPageTest" />-->
		</classes>

	</test>
</suite>
